<div class="container">
  <h1> Fiche Produit </h1>
  <form #produitForm="ngForm" (ngSubmit)="validerFormulaire()">
    <table>
      <tr>
        <td> Code: </td>
        <input type="text" name="code" [(ngModel)]="nouveauProduit.code" />
      </tr>
      <tr>
        <td> Désignation: </td>
        <input type="text" name="designation" [(ngModel)]="nouveauProduit.designation" />
      </tr>
      <tr>
        <td> Prix: </td>
        <input type="text" name="prix" [(ngModel)]="nouveauProduit.prix" />
      </tr>
      <tr>
        <td>Categorie:</td>

          <select id="categoryId" name="categoryId" [(ngModel)]="selectedCategoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.libelle }}</option>
          </select>
        
      </tr>

      <tr>
        <td [align]="'center'" colspan="2">
          <input type="submit" value="Valider" class="btn btn-warning" [disabled]="!produitForm.form.valid" />
          <button type="button" class="btn btn-warning button-margin" (click)="effacerFormulaire()">Effacer</button>

        </td>
      </tr>
    </table>
  </form>
</div>
