<!-- <p>ajout-produit works!</p>
<div>
    <h1> Fiche Produits </h1>
  
    <form (submit)="validerFormulaire()">
      <label>Code: </label>
      <input type="text" id="code" [(ngModel)]="nouveauProduit.code" required><br><br>
  
      <label>Designation: </label>
      <input type="text" id="designation" [(ngModel)]="nouveauProduit.designation" required><br><br>
  
      <label>Prix: </label>
      <input type="number" id="prix" [(ngModel)]="nouveauProduit.prix" required><br><br>
  <br>
      <button type="submit">Valider</button>
    </form>
</div> -->
<div class="container">
  <h1> Fiche Produit </h1>
  <form #produitForm="ngForm" (ngSubmit)="validerFormulaire()">
    <table>
      <tr>
        <td> Id: </td>
        <input id="id" name="id" type="text" [(ngModel)]="nouveauProduit.id" required />
      <tr>
        <td> Code: </td>
        <input type="text" name="code" [(ngModel)]="nouveauProduit.code" />
      </tr>
      <tr>
        <td> Désignation: </td>
        <input type="text" name="designation" [(ngModel)]="nouveauProduit.designation" />
      </tr>
      <tr>
        <td> Prix: </td>
        <input type="text" name="prix" [(ngModel)]="nouveauProduit.prix" />
      </tr>

      <tr>
        <td [align]="'center'" colspan="2">
          <input type="submit" value="Valider" class="btn btn-dark" [disabled]="!produitForm.form.valid" />
        </td>
      </tr>
    </table>
  </form>
</div>
